@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  color: #F2F2F2;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #333333;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(159, 162, 251, 0.5);
  border-radius: 8px;
}

.S9gUrf-YoZ4jf span {
  color: #1A1A1A !important;
}

html {
  scroll-behavior: smooth;
  background-color: #1A1A1A;
}